<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h4 class="mb-0">Er is een fout opgetreden</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= message %></h5>
          <% if (error && Object.keys(error).length > 0) { %>
            <div class="alert alert-danger mt-3">
              <pre class="mb-0"><%= JSON.stringify(error, null, 2) %></pre>
            </div>
          <% } %>
          <div class="mt-4">
            <a href="javascript:history.back()" class="btn btn-secondary">Terug</a>
            <a href="/" class="btn btn-primary">Naar Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %> 